@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: url("../images/wallpaperflare.com_wallpaper.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  background: #fff;
  border-radius: 15px;
  padding: 2.5rem;
  width: 320px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  position: relative;
}
.back-to-home{
  position: absolute;
  top: 20px;
  left: 20px;
  a{
    color: #0779E4;
    text-decoration: none;
    font-weight: 600;
  }
}
.card h2 {
  margin: 0.7rem 0 0.5rem;
  font-size: 2rem;
  font-weight: 700;
}

.card p {
  margin: 0 0 1.5rem;
  color: #555;
  font-size: 0.95rem;
}

.input-group {
  text-align: left;
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 600;
  font-size: 0.85rem;
}

.input-group input {
  width: 90%;
  padding: 0.7rem;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  font-size: 0.95rem;
  outline: none;
}

.input-icon {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.input-icon span {
  margin-right: 0.5rem;
  color: #777;
}

button {
  width: 100%;
  background-color: #0779E4;
  color: white;
  border: none;
  padding: 0.9rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 0.5rem;
}

button:hover {
  background-color: rgba(7, 121, 228, 0.8);
}

.login-link {
  margin-top: 1rem;
  font-size: 0.85rem;
  color: #333;
}

.login-link a {
  color: #0779E4;
  text-decoration: none;
  font-weight: 600;
}
@media (max-width: 480px) {
  .card {
    padding: 1.5rem;
    margin: 0 10px 0 10px;
  }
  .card h2 {
    font-size: 1.5rem;
  }

}
